# Ignore changes in settings.py and twitter_api.py (to avoid uploading your API keys)
# Don't track any .pyc file in beeptok and tmp dir

beeptok/*.pyc
beeptok/settings.py
beeptok/twitter_api.py
tmp/*

